* {
  box-sizing: border-box;
}

.container {
  margin: 10px auto;
  padding: 20px;
  width: clamp(700px, 75vw, 1200px);
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 32.5%;
  padding: 0px 10px 15px;
}

.main {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 10px;
}

.card {
  padding: 10px;
  margin: 5px;
}

img {
  width: 100%;
}

p {
  text-align: justify;
}
